.pages{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: var(--light-background-color);
    border-radius: 5em;
}

.btn{
    border: 1px solid var(--main-text-color);
    padding: 1em;
    background-color: var(--secondary-text-color);
}

.first, 
.last{
    background-color: var(--light-background-color);
    width: 10%;
    border-radius: 2em;
}

.prev,
.next{
    border-radius: 100%;
    font-weight: bold;
}