nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item{
    text-decoration: none;
    padding: 2em;
    border-radius: 2em;
    background-color: var(--light-background-color);
    margin: 0 0.5em;
    color: var(--main-text-color);
}

.item.active{
    background-color: var(--ok-btn-color);
    color: var(--light-text-color);
}
