.product{
    background-color: var(--light-background-color);
    border-radius: 5em;
    padding: 1em 0;
}

.title{
    margin: 0;
    color: black;
}

.time{
    display: inline-block;
    width: 50%;
    color: var(--secondary-text-color);
}

.price{
    display: inline-block;
    width: 50%;
    color: var(--secondary-text-color);
}

.photo{
   width: 7em; 
   height: 8em;
}

.btn{
    display: block;
    background-color: var(--add-btn-color);
    width: 70%;
    border-radius: 1em;
    border: 1px solid var(--main-text-color);
    padding: 0.5em;
    margin: auto;
    cursor: pointer;
}