.cake_info{
    padding: 0 10em;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch; */
}

#title{
    width: 100%;
}

#description{
    width: 90%;
    resize: none;
}