.purchase_history{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.history__item{
    display: flex;
    justify-content: space-between;
    margin: 0.4em;
    padding: 0.5em 1.5em;
    background-color: var(--light-background-color);
    border-radius: 1em;
}

a{
    color: var(--main-text-color);
}

.empty{
    display: block;
    padding-top: 3em;
}