.pages{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.page{
    background-color: var(--light-background-color);
    border-radius: 100%;
    margin: 1em;
    border: 1px solid var(--main-text-color);
}

.current{
    background-color: var(--ok-btn-color);
    color: var(--light-text-color);
}

@media (max-width: 470px) {
    .pages{
        width: 100%;
    }
}

@media (max-width: 320px) {
    .pages{
        flex-direction: column;
    }
}