.logo{
    width: 5%;
    padding: 1em 2em;
    border-radius: 2em;
    border: 3px solid var(--main-text-color);
    background-color: var(--light-background-color);
    margin: 0.5em;
}

.icon{
    width: 50%;
    padding: 0;
}

.name{
    color: var(--main-text-color);
    font-size: 12px;
    margin: 0;
}

@media (max-width: 600px) {
    .logo{
        display: none;
    }
}