:root {
  --main-text-color: rgb(87, 87, 87);
  --secondary-text-color: rgb(182, 182, 182);
  --cancel-btn-color: rgb(206, 79, 79);
  --ok-btn-color: rgb(0, 0, 0);
  --add-btn-color: rgb(252, 205, 161);
  --light-text-color: rgb(245, 245, 245);
  --light-background-color: rgb(255, 255, 255);
  
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}
.wrapper {
	display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}


.wrapper::after {
    content: "";
    background: url("https://localhost:44340/images/background.jpg") ;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .content {
    flex: 1 0 auto;
    padding: 0 5em;
    text-align: center;
    margin-top: 7em;
    color: var(--main-text-color);
}

.input_data{
  display: block;
  padding: 0.5em 1em;
  margin: 0 auto;
  width: 100%;
}

.btn{
  padding: 0.5em 1.5em;
  background-color: var(--ok-btn-color);
  border-radius: 1em;
  color: var(--light-text-color);
  font-size: 18px;
}

.empty{
  padding-top: 10em;
}


.popup{
  position: fixed;

  left: 0;
  right: 0;


  width: 20%;
  height: 10%;
  margin: 0 auto;

  padding: 2.1em 2em 0 2em;
  font-size: 18px;
  animation: show-loader 3s forwards;
  
  z-index: 2;
  background-color: var(--light-background-color);
  border: 1px solid var(--main-text-color) ;

}

@keyframes show-loader{
  0%{
      opacity: 0;
      transform: translateY(0vh);
  }
  50%{
    opacity: 1;
  }
  100%{
      opacity: 1;
      transform: translateY(5vh);
  }
}



.popup.entering{
  animation: show-loader 3s forwards;
}

@media (max-width: 700px) {
    .content{
      padding: 0;
      margin-top: 12em;
    }


}