.product_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 2em 0;
}

.sortBy2{
    grid-template-columns: repeat(4, 1fr);
}

.sortBy5{
    grid-template-columns: repeat(5, 1fr);
}

.sortBy10,
.sortBy1{
    grid-template-columns: repeat(6, 1fr);
}


